.main-container {
    display: flex;
    flex-direction: row;
}

.info {
    width: 300px;
    flex-shrink: 0;
}

.charts {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
}
